#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  font-size: 30px;
  color: black;
}

#welcome-section > p {
  font-size: 20px
}

@media (max-width: 400px) {
  h1 {
      color: green;
  }
}

li {
  display: inline;
  float: right;
  margin: 10px;
  size: 16px;
}

#navbar {
  display: inline;
  margin: 30px;
  position:fixed;
  top: 0%;
  left: -2%;
  width: 100%;
  background-color: rgb(217, 231, 249);
  margin-right: 20px;
  margin-top: 0px;
  margin-right: 0px;
  padding-top: 10px;
  padding-right: 10px;
  color: black;
}

#navlist {
  margin-left: 100px;
  margin-right: 25px;
}

#Projectssection {
  padding: 200px;
  padding-left: 10px;
  width: 100%;
  margin: 0px;
  margin-left: -5px;
  color: black;
  background-color: rgb(195, 205, 217);
}

#projects {
  text-align:center;
  margin-top: 0px;
  margin-bottom: 100px;
  font-size: 40px;
  text-decoration: underline;
  padding-top: 0px;
}


#StarWarsFilms > img {
  width: 350px;

}

#StarWarsCharacters > img {
  width: 350px;
  height: 198px;

}

#StarWarsStarships > img {
  width: 350px;

}

#Pokemon > img {
  width: 350px;

}

#Badges {
  display: flex;
justify-content: space-evenly;
}

#Badges > img {
  width: 200px;
}

#Fourboxes {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

#Footerh1 {
  text-align: center;
  font-size: 35px;
  margin-top: 200px;
  color: black;
}

#ContactP {
  text-align: center;
  font-size: 20px;
  margin-bottom: 100px;
  color: black;
}

#Callus {
  display: flex;
  justify-content: space-around;
}

#copyright {
  color: black;
}